<!DOCTYPE html>
<html>
    <head>
        <title>50.039 Deep Learning Project Image Captioning</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/caption.css') }}">
    </head>
    <body>
        <div id="Wrapper">
            <a href='/' class="box" style='text-decoration: none; color: inherit;'>
                <b>
                    50.039 Deep Learning Project Image Captioning
                </b>
            </a>
        </div>
        <div id="Wrapper">
            <div class="box">
                <div class="img_box">
                    <div id="Show" class="show">
                        <img id="Image" src="{{ uri }}">
                    </div>
                    <div id="Caption" class="caption">
                        <span>{{ caption }}</span>
                    </div>
                    <a class="back" href='/' style='text-decoration: none; color: inherit;'>
                        Try Another Image
                    </a>
                    <p style="text-align: center; font-size: 15px; margin-block-start: 30px; margin-block-end: 12px;">
                        <b>Note:</b> hover your cursor over the words for attention visualisations!
                    </p>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">

        var caption = document.getElementById('Caption');
        var image = document.getElementById('Image');
        var words = caption.innerText.trim().split(' ');

        window.onload = function(){
            var out = [];
            for (var i = 0; i < words.length; i += 1) {
                out.push('<span id="Word' + i.toString() + '" style="cursor: pointer">' + words.slice(i, i+1) + '</span>');
                if (i != words.length - 1){
                    out.push('<span style="white-space:pre-wrap"></span>');
                };
            };
            caption.innerHTML = out.join(' ');

            var attentionList = "{{ attention }}";
            attentionList = attentionList.split(' ');

            for (var j = 0; j < words.length; j += 1){
                document.getElementById('Word' + j.toString()).addEventListener('mouseover', function(event){
                    var target = event.target.id.match(/\d+/)[0];
                    image.setAttribute('src', attentionList[target].toString());
                }, false);
                document.getElementById('Word' + j.toString()).addEventListener('mouseleave', function(event){
                    image.setAttribute('src', "{{ uri }}");
                }, false);
            };
        };
    </script>
</html>