<!DOCTYPE html>
<html>
    <head>
        <title>50.039 Deep Learning Project Image Captioning</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/caption.css') }}">
    </head>
    <body>
        <div id="Wrapper">
            <a href='/' class="box" style='text-decoration: none; color: inherit;'>
                <b>
                    50.039 Deep Learning Project Image Captioning
                </b>
            </a>
        </div>
        <div id="Wrapper">
            <div class="box">
                <div class="img_box">
                    <div class="show">
                        <img id="Image" src="{{ uri }}">
                    </div>
                    <div id="Caption" class="caption">
                        <span>{{ caption }}</span>
                    </div>
                    <div>
                        <img id="attImage" src="./static/attImage.png">
                    </div>
                    <a class="back" href='/' style='text-decoration: none; color: inherit;'>
                        Try Another Image
                    </a>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        window.onload = function(){
            var caption = document.getElementById('Caption');
            var img = document.getElementById('Image');
            var out = [];
            var words = caption.innerText.trim().split(' ');
            for (var j = 0; j < words.length; j += 1) {
                out.push('<span class="word' + j.toString() + '" style="cursor: pointer">' + words.slice(j, j+1) + '</span>');
                if (j != words.length - 1){
                    out.push('<span class="space" style="white-space: pre-wrap;"> </span>');
                };
            };
            caption.innerHTML = out.join(' ');

            document.getElementsByClassName('word0').addEventListener('click', function(event){
                img.src = 'https://images.theconversation.com/files/319652/original/file-20200310-61148-vllmgm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip';
            }, false);
        };
    </script>
</html>