body {
  background-image: url("background.png");
  background-size: 100px 100px;
}

img.resize {
  height: 120px;
  width: 120px;
}

#Wrapper {
  display: flex;
  justify-content: center;
}

.box {
  margin: 30px;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-color: black;
  border-radius: 10px;
  background-color: white;
  height: 50%;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
  border: 4px solid black;
}

.form {
  margin: 25px;
  width: 100%;
  display:block;
  justify-content: center;
  align-items: center;
  position:relative;
}

.upload {
  background-color: lightgrey;
  border: 4px dashed black;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width:100%;
  font-size: 22px;
  position: relative;
}
.upload:hover {
  opacity: 0.7;
}
.upload p{
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 80px;
}
.upload img{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.upload input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.upload input:hover {
  cursor: pointer;
}

.submit {
  padding: 5px;
  box-shadow: 0 10px 29px rgba(0,0,0,0.30), 0 6px 3px rgba(0,0,0,0.22);
  border-color: black;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  border: 4px solid black;
}
.submit:hover{
  cursor: pointer;
}

.choose {
  display: inline-block;
  font-size: 20px;
}

#List {
  display: inline-block;
  font-size: 15px;
}